.our-services{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center
}
.BODDY{
    width: 25vw;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0px 22px 38px 3px rgba(0,0,0,0.09);
}
@media (min-width: 480px) and (max-width: 768px){ 
  .BODDY{
      width: 42vw;

  }
}
/* for mobile */
@media (max-width:480px)  { 
  .BODDY{
      width: 95vw;
  }
}