.shadow{
    box-sizing: border-box;
    box-shadow: 0px 22px 38px 3px rgba(0,0,0,0.09);
}
@media only screen and (max-width:480px){
    .shadow{
        display:flex;
        flex-direction:column-reverse
    }
}