.stackcontianer{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stackcontianer .stack1{
    width: 27.8vw;
    height: 65vh;
}
.stackcontianer .stack1 img{
    width:100%;
    height: 100%;
}
.stackcontianer .stack1{
    position: relative;
}
.stackcontianer .stack1 .hover{
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(13, 109, 165, 0.89);
    color: white;
    height: 65vh;
    padding: 50px 30px 0;
    text-align: center;
   
}
.stack1:hover .hover{
    display: block;
    overflow: hidden;
}
.stack1 .hover p{
   color: #ffffff;
}

@media only screen and (max-width: 361px) {
    .stackcontianer{
        width: 100%
    }
    .stackcontianer .stack1{
        width: 95vw;
        height: 70vh;
        /* background-color: black; */
    }
  }
  