.stackcontianer{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stackcontianer .stack1{
    width: 27.8vw;
    height: 65vh;
}
.stackcontianer .stack1 img{
    width:100%;
    height: 100%;
}
.stackcontianer .stack1{
    position: relative;
}

@media only screen and (max-width: 361px) {
    .stackcontianer{
        width: 100%
    }
    .stackcontianer .stack1{
        width: 95vw;
        height: 70vh;
        /* background-color: black; */
    }
  }
  