.our-team{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: #0ab6ff;
    background-image: url(../img/stackimages/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.member{
    width: 15vw;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}
.member p,h4{
    color: white
}
  /* for iPad */
  @media (min-width: 480px) and (max-width: 768px){ 
    .member h4{
        font-size: 11px;
    }
  }
  /* for mobile */
  @media (max-width:480px) { 
    .member{
        width: 31vw;
    }
    .member h4{
        font-size: 11px
    }
    .our-team h1{
        font-size: 15px;
    }
    .our-team p{
        font-size: 9px;
    }
    .about_us .feature_icon_1{
        display: none;
    }
    .about_us .feature_icon_4{
        display: none;
    }

  }