.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #0ab6ff;
   }
   
   .tech h2 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
   }
   
   .tech .hp1 {
    text-align: center;
    margin-top: 20px;
    width: 80%;
    color: #ffffff;
    font-size: 15px;
    /* font-weight: 400; */
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: "Poppins", sans-serif;
   }
   
   .tech .berief {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    width: 96%;
   }
   
   .tech .berief .hblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 424px;
   }
   
   .tech .berief .hblock .icon {
    position: relative;
    /* left: 5em; */
    height: 9em;
    width: 9em;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s;
    font-size: 1rem;
   }
   .tech .berief .hblock .icon img{
     width: 75%
   }
   
   .tech .berief .hblock .icon:hover {
    transform: scale(0.95);
   }
   
   .tech .berief .hblock .bp1 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
    font-family: "Poppins", sans-serif;
    border-bottom: 2px solid #ffffff;
    line-height: 1.5em;
   }
   
   .tech .berief .hblock .bp2 {
    margin-top: 20px;
    width: 90%;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    /* font-weight: 500; */
    color: #ffffff;
    font-family: "Poppins", sans-serif;
   }
   @media (min-width:480px) and (max-width:801px)  { 
    .tech .berief{
        width: 100%;
        text-align: center;
        justify-content: center
    }
    .tech .berief .hblock{
        width:45vw;
  
    }
    .tech .berief .marg{
      margin-top: 28px;
    }
  }
  /* for mobile */
  @media (max-width:480px) { 
    .tech .berief{
        width: 100%;
        text-align: center;
        justify-content: center
    }
    .tech .berief .hblock{
        width: 96vw;
        padding-top: 27px;
    }
  }